<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>文章列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    
    <link rel="stylesheet" th:href="@{/backend/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/backend/css/loader-style.css}"/>
    <link rel="stylesheet" th:href="@{/backend/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/backend/js/progress-bar/number-pb.css}"/>
    <link rel="shortcut icon" th:href="@{/backend/ico/minus.png}"/>

</head>

<body> 
   
    <nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>
                <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <span class="entypo-list-add"></span>
                </button>

                <div id="logo-mobile" class="visible-xs">
                   <h1>pinky lam<span>v1.0</span></h1>
                </div>
            </div>

            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
	                    <a href="/user/index">
	                    	<i data-toggle="tooltip" data-placement="bottom" title="我的面板" style="font-size:20px;" class="icon-help tooltitle"></i>
	                    </a>
                    </li>
                </ul>
                
                <div id="nt-title-container" class="navbar-left running-text visible-lg">
                    <ul class="date-top">
                        <li class="entypo-calendar" style="margin-right:5px"></li>
                        <li id="Date"></li>
                    </ul>

                    <ul id="digital-clock" class="digital">
                        <li class="entypo-clock" style="margin-right:5px"></li>
                        <li class="hour"></li>
                        <li>:</li>
                        <li class="min"></li>
                        <li>:</li>
                        <li class="sec"></li>
                        <li class="meridiem"></li>
                    </ul>
                    
                    <ul id="nt-title">
                        <li><i class="wi-day-lightning"></i>&#160;&#160;Berlin&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>
                        <li><i class="wi-day-lightning"></i>&#160;&#160;Yogyakarta&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; Tonight- 72 °F (22.2 °C)
                        </li>

                        <li><i class="wi-day-lightning"></i>&#160;&#160;Sttugart&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>

                        <li><i class="wi-day-lightning"></i>&#160;&#160;Muchen&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>

                        <li><i class="wi-day-lightning"></i>&#160;&#160;Frankurt&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>
                    </ul>
                </div>

                <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" class="admin-pic img-circle" src="http://api.randomuser.me/portraits/thumb/men/10.jpg"/>您好, <span th:text="${session.user.nick}"></span> <b class="caret"></b>
                        </a>
                        <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                            <li>
                                <a href="#"><span class="entypo-user"></span>&#160;&#160;My Profile</a>
                            </li>
                            <li>
                                <a href="#"><span class="entypo-vcard"></span>&#160;&#160;Account Setting</a>
                            </li>
                            <li>
                                <a href="#"><span class="entypo-lifebuoy"></span>&#160;&#160;Help</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#"><span class="entypo-basket"></span>&#160;&#160;Purchase</a>
                            </li>
                        </ul>
                    </li>
                    <li class="hidden-xs">
                        <a class="toggle-left" href="#">
                            <span style="font-size:20px;" class="entypo-list-add"></span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div id="skin-select">
        <div id="logo">
         <h1>pinky lam<span>v1.0</span></h1>
        </div>

        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="搜索菜单..." autofocus=""/>
                </span>
            </form>
        </div>

        <div class="search-hover">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search"/>
            </form>
        </div>

        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>文章管理</span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="/article/index" title="文章管理">
                                <i class="fontawesome-list-ul"></i>
                                <span>文章列表</span>
                            </a>
                        </li>
                    </ul>
                    
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>分类/标签管理</span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="index.html" title="标签管理">
                                <i class="icon-window"></i>
                                <span>标签管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="icon.html" title="类别管理">
                                <i class="fontawesome-cogs"></i>
                                <span>类别管理</span>
                                <div class="noft-blue" style="display: inline-block; float: none;">New</div>
                            </a>
                        </li>
                    </ul>

                    <ul id="menu-showhide" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>资源管理</span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip" href="#" title="文件管理">
                                <i class="icon-view-thumb"></i>
                                <span>文件管理</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="table-static.html" title="Table Static"><i class="entypo-layout"></i><span>Table Static</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="table-dynamic.html" title="Table Dynamic"><i class="entypo-menu"></i><span>Table Dynamic</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                     <ul id="menu-showhide" class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>评论管理</span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip" href="#" title="评论管理">
                                <i class="icon icon-conversation"></i>
                                <span>评论管理</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="table-static.html" title="Table Static"><i class="entypo-layout"></i><span>Table Static</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="table-dynamic.html" title="Table Dynamic"><i class="entypo-menu"></i><span>Table Dynamic</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span>系统管理</span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="social.html" title="系统设置">
                                <i class="entypo-tools"></i>
                                <span>系统设置</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="media.html" title="数据备份">
                                <i class="fontawesome-cloud-download"></i>
                                <span>数据备份</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="media.html" title="友情链接设置">
                                <i class="fontawesome-link"></i>
                                <span>友情链接设置</span>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-fluid">
        <div class="container-fluid paper-wrap bevel tlbr">
            <div class="row">
                <div id="paper-top">
                    <div class="col-lg-7" style="margin-left: 55px;">
                        <div class="tittle-middle-header">
                            <div class="alert">
                                <span class="tittle-alert entypo-info-circled"></span>&nbsp;欢迎回来,&nbsp;
                                <strong><span th:text="${session.user.name}"></span>!</strong>&nbsp;&nbsp;你上次登录时间：2017-06-09 16:54
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul id="breadcrumb">
                <li><span class="entypo-home"></span></li>
                <li><i class="fa fa-lg fa-angle-right"></i></li>
                <li><a href="#" title="Sample page 1">首页</a></li>
                <li><i class="fa fa-lg fa-angle-right"></i></li>
                <li><a href="#" title="Sample page 1">文章管理</a></li>
                <li><i class="fa fa-lg fa-angle-right"></i></li>
                <li><a href="#" title="Sample page 1">文章列表</a></li>
            </ul>

            <div class="content-wrap">
                <div class="row">
                    <div class="col-lg-12">
                    <br/>
                	<button type="button" class="btn btn-primary">
                                    <span class="entypo-plus-squared"></span>&nbsp;&nbsp;新增文章</button>
                        <div id="siteClose" class="nest">
                            <div class="title-alt">
                                <h6>
                                    <span class="fontawesome-truck"></span>&nbsp;文章列表</h6>
                                <div class="titleToggle">
                                    <a class="nav-toggle-alt" href="#site">
                                        <span class="entypo-up-open"></span>
                                    </a>
                                </div>
                            </div>
                            <div id="site" class="body-nest" style="min-height:296px;">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>文章名称</th>
                                                <th>创作日期</th>
                                                <th>修改日期</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="armada-devider">删除了thymeleaf 学习笔记</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">草稿</td>
                                                <td class="armada-devider">
													<button type="button" class="btn btn-default"><span class="entypo-pencil"></span>&nbsp;&nbsp;Edit</button>
												</td>
                                            </tr>
                                            <tr>
                                                <td class="armada-devider">pinky lam登录系统</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">草稿</td>
                                                <td class="armada-devider">
													<button type="button" class="btn btn-default"><span class="entypo-pencil"></span>&nbsp;&nbsp;Edit</button>
												</td>
                                            </tr>
                                            <tr>
                                                <td class="armada-devider">pinky lam登录系统</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">草稿</td>
                                                <td class="armada-devider">
													<button type="button" class="btn btn-default"><span class="entypo-pencil"></span>&nbsp;&nbsp;Edit</button>
												</td>
                                            </tr>
                                            <tr>
                                                <td class="armada-devider">pinky lam登录系统</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">2017-06-09</td>
                                                <td class="armada-devider">草稿</td>
                                                <td class="armada-devider">
													<button type="button" class="btn btn-default"><span class="entypo-pencil"></span>&nbsp;&nbsp;Edit</button>
												</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-wrap">

                <div id="footer">
                    <div class="devider-footer-left"></div>
                    <div class="time">
                        <p id="spanDate"/>
                        <p id="clock"/>
                    </div>
                    <div class="copyright">Copyright@2017
                        <span class="entypo-heart"></span><a href="https://github.com/handexing">pinky Lam</a> All Rights Reserved
                    </div>
                    <div class="devider-footer"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="sb-slidebar sb-right">
        <div style="margin-top:50;" class="right-wrapper">
            <div class="row">
                <h3><span><i class="entypo-newspaper"></i>&nbsp;&nbsp;草稿</span></h3>
                <div class="col-lg-12">
                    <ul class="chat">
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/women/24.jpg"/>
                                </span>
                                <b>markdown基本语法</b>
                                <br/><i>2017-06-09 12:25:36</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/women/24.jpg"/>
                                </span>
 								<b>markdown基本语法</b>
                                <br/><i>2017-06-09 12:25:36</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/men/25.jpg"/>
                                </span> <b>markdown基本语法</b>
                                <br/><i>2017-06-09 12:25:36</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/women/25.jpg"/>
                                </span> <b>markdown基本语法</b>
                                <br/><i>2017-06-09 12:25:36</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>
                                    <img alt="" class="img-chat img-offline img-circle" src="http://api.randomuser.me/portraits/thumb/men/26.jpg"/>
                                </span> <b>markdown基本语法</b>
                                <br/><i>2017-06-09 12:25:36</i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- END OF RIGHT SLIDER CONTENT-->
    <script type="text/javascript" th:src="@{/backend/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/progress-bar/src/jquery.velocity.min.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/progress-bar/number-pb.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/progress-bar/progress-app.js}"></script>

    <!-- MAIN EFFECT -->
    <script type="text/javascript" th:src="@{/backend/js/preloader.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/load.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/main.js}"></script>

    <!-- GAGE -->
    <script type="text/javascript" th:src="@{/backend/js/chart/jquery.flot.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/chart/jquery.flot.resize.js}"></script>
    <script type="text/javascript" th:src="@{/backend/js/countdown/jquery.countdown.js}"></script>

</body>

</html>
